{% extends 'base/base.html' %}
{% block contenido %}
<form method="POST">
    <div class="panel panel-default">
        <div class="panel-heading">
            Editar/Crear Categoria Nueva
        </div>
        <div class="panel-body">
           {% csrf_token %} <!--Token de seguridad de django obligatorio para los forms-->
           {{form.as_p}} <!--indica que aca va un formulario ???-->

            <button type="submit" class="btn btn-danger">
                <span class="fa fa-save"></span>Guardar</button>
            <a href="{% url 'catalogos:categoria_list' %}" class="btn btn-success">
                <span class="fa fa-undo"></span>Cancelar
            </a>
        </div>
    </div>

</form>
{% endblock contenido %}